In [1]:
import pandas as pd
import json
import ast
import importlib
import data_preparation_utils

# Reload the functions module
importlib.reload(data_preparation_utils)

## User reviews

### Creating a DataFrame

Creating a DataFrame from the australian_user_reviews JSON file

In [2]:
# Open JSON file and load data in a variable
review_data = []
with open(r"./raw_data/australian_user_reviews.json", encoding="MacRoman") as file:
    for line in file.readlines():
        review_data.append(ast.literal_eval(line))

In [3]:
# Create a DataFrame from variable
df_user_reviews = pd.DataFrame(review_data)
df_user_reviews

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

### Preparing the user reviews data

#### Checking Null values

In [4]:
df_user_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25799 entries, 0 to 25798
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   25799 non-null  object
 1   user_url  25799 non-null  object
 2   reviews   25799 non-null  object
dtypes: object(3)
memory usage: 604.8+ KB

No null values in the dataset

#### Checking Duplicate values

In [5]:
# Call the function to check for duplicates in the "user_url" column
duplicates_user_url = data_preparation_utils.check_duplicates_summary(df_user_reviews, "user_url")

# Print the summary
print(duplicates_user_url)

                                      Duplicated Value  Occurrences
0    http://steamcommunity.com/profiles/76561198051...            3
2    http://steamcommunity.com/profiles/76561198045...            3
3    http://steamcommunity.com/profiles/76561198100...            3
4            http://steamcommunity.com/id/blablabla174            3
1    http://steamcommunity.com/profiles/76561198027...            3
..                                                 ...          ...
104    http://steamcommunity.com/id/syntheticflyingfox            2
103           http://steamcommunity.com/id/TandyTandon            2
102  http://steamcommunity.com/id/wasntthereanumber...            2
101               http://steamcommunity.com/id/norsktf            2
308         http://steamcommunity.com/id/OfficialvnmZz            2

[309 rows x 2 columns]

Duplicate user_url values are removed, as they will affect future measurements

#### Removing Duplicate values

In [6]:
df_user_reviews_1 = data_preparation_utils.remove_duplicates(df_user_reviews, "user_url")

Removed 314 duplicate rows based on 'user_url' column.

In [7]:
# Verifiying no duplicate values left

# Call the function to check for duplicates in the "user_id" column
duplicates_user_id = data_preparation_utils.check_duplicates_summary(df_user_reviews_1, "user_id")

# Print the summary
print(duplicates_user_id)

Empty DataFrame
Columns: [Duplicated Value, Occurrences]
Index: []

#### Checking None values

In [8]:
# Call the function to check for none values in the "user_id" column
none_user_id = data_preparation_utils.check_none_values(df_user_reviews_1, "user_id")

# Print the summary
print(none_user_id)

{'column_name': 'user_id', 'total_rows': 25485, 'num_none_values': 0, 'rows_below_threshold': None}

#### Unnesting "reviews" data

In [9]:
df_user_reviews_1["reviews"][4]

[{'funny': '3 people found this review funny',
  'posted': 'Posted April 15, 2014.',
  'last_edited': '',
  'item_id': '211420',
  'helpful': '35 of 43 people (81%) found this review helpful',
  'recommend': True,
  'review': 'Git gud'},
 {'funny': '1 person found this review funny',
  'posted': 'Posted December 23, 2013.',
  'last_edited': '',
  'item_id': '211820',
  'helpful': '12 of 16 people (75%) found this review helpful',
  'recommend': True,
  'review': "It's like Terraria, you play for 9 hours straight, get endgame armour then stop playing until the next update."},
 {'funny': '2 people found this review funny',
  'posted': 'Posted March 14, 2014.',
  'last_edited': '',
  'item_id': '730',
  'helpful': '5 of 5 people (100%) found this review helpful',
  'recommend': True,
  'review': 'Hold shift to win, Hold CTRL to lose.'},
 {'funny': '',
  'posted': 'Posted July 11, 2013.',
  'last_edited': '',
  'item_id': '204300',
  'helpful': 'No ratings yet',
  'recommend': True,
  'review': "OH YES, THIS GAME IS THE BEST, THEY ADD STUFF LIKE NEW CHARACTERS, AND LIKE A NEW MAP ONCE A YEAR, IT'S SO AWESOME, OH YES, IT'S SO AWESOMENAUTS, YES, YES, I'M GOOD AT THIS, YES, YES, GOOD, I'M GOOD, YES, GOOD, YOU ARE BAD, IM GOOD, YES, TOO GOOD, YES, IM NOT BAD, YES, GOOD."}]

In [10]:
# Verifying the data types of "reviews" data
reviews_data_type = data_preparation_utils.column_data_types_summary(df_user_reviews_1, "reviews")
reviews_data_type

{'column_name': 'reviews', 'data_type_counts': {"<class 'list'>": 25485}}

Knowing that all values of the columns are list, the function "extract_values" will extract each value, based on a key parameter, and store it on a new list in different columns

In [11]:
# Asigning values to variables
column_name = "reviews"
keys = ["funny", "posted", "last_edited", "item_id", "helpful", "recommend", "review"]
new_columns = ["funny", "posted", "last_edited", "item_id", "helpful", "recommend", "review"]

In [12]:
# Creating a copy of the dataframe
df_user_reviews_2 = df_user_reviews_1.copy()

# Ectracting nested values from reviews
data_preparation_utils.extract_values(df_user_reviews_2, column_name, keys, new_columns)

,user_id,user_url,reviews,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2...","[, , ]","[Posted November 5, 2011., Posted July 15, 201...","[, , ]","[1250, 22200, 43110]","[No ratings yet, No ratings yet, No ratings yet]","[True, True, True]",[Simple yet with great replayability. In my op...
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014...","[, , ]","[Posted June 24, 2014., Posted September 8, 20...","[, , ]","[251610, 227300, 239030]",[15 of 20 people (75%) found this review helpf...,"[True, True, True]",[I know what you think when you see this title...
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',...","[, , , , , ]","[Posted February 3., Posted December 4, 2015.,...","[, Last edited December 5, 2015., , , , ]","[248820, 370360, 237930, 263360, 107200, 224500]","[No ratings yet, No ratings yet, No ratings ye...","[True, True, True, True, True, True]",[A suitably punishing roguelike platformer. W...
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2...","[, , , , , ]","[Posted October 14, 2013., Posted July 28, 201...","[, , , , , ]","[250320, 20920, 204100, 224600, 207610, 108710]",[2 of 2 people (100%) found this review helpfu...,"[True, True, True, True, True, True]",[This game... is so fun. The fight sequences h...
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',...","[3 people found this review funny, 1 person fo...","[Posted April 15, 2014., Posted December 23, 2...","[, , , ]","[211420, 211820, 730, 204300]",[35 of 43 people (81%) found this review helpf...,"[True, True, True, True]","[Git gud, It's like Terraria, you play for 9 h..."
...,...,...,...,...,...,...,...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la...",[],[Posted May 31.],[],[261030],[0 of 1 people (0%) found this review helpful],[True],[I cried in the end its so sadding ]'; I wish ...
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l...",[],[Posted June 17.],[],[730],[0 of 1 people (0%) found this review helpful],[True],[Gra naprawdÆ’Ã´ fajna.Ale jest kilka rzeczy do ...
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',...",[1 person found this review funny],[Posted June 23.],[],[570],[1 of 1 people (100%) found this review helpful],[True],[Well Done]
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l...","[, , , ]","[Posted July 21., Posted July 10., Posted July...","[, , , ]","[233270, 130, 70, 362890]","[No ratings yet, No ratings yet, No ratings ye...","[True, True, True, True]",[this is a very fun and nice 80s themed shoote...
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',...","[1 person found this review funny, , ]","[Posted July 3., Posted July 20., Posted July 2.]","[, , ]","[273110, 730, 440]",[1 of 2 people (50%) found this review helpful...,"[True, True, True]",[had so much fun plaing this and collecting re...

### Transforming to numeric type

This will make it easier to perform exploratory data analysis.

#### Column "item_id"

In [13]:
# Verifying the type of each value of the ""item_id column
item_id_type_summary = data_preparation_utils.column_data_types_summary(df_user_reviews_2, "item_id")
item_id_type_summary

{'column_name': 'item_id', 'data_type_counts': {"<class 'list'>": 25485}}

In [14]:
# Verifying data type of values inside "item_id"
print(df_user_reviews_2["item_id"][0])
print(type(df_user_reviews_2["item_id"][0]))

print(df_user_reviews_2["item_id"][0][0])
print(type(df_user_reviews_2["item_id"][0][0]))

['1250', '22200', '43110']
<class 'list'>
1250
<class 'str'>

In [15]:
# Creating a copy of the dataframe
df_user_reviews_3 = df_user_reviews_2.copy()

# Transforming to numeric type using "convert_column_to_numeric" function
data_preparation_utils.convert_column_to_numeric(df_user_reviews_3, "item_id")

{'total_rows': 25485,
 'column_name': 'item_id',
 'num_failed_conversions': 0,
 'report': {}}

In [16]:
# Verifying data type of values inside "item_id" lists
print(df_user_reviews_3["item_id"][0][0])
print(type(df_user_reviews_3["item_id"][0][0]))

1250
<class 'numpy.int64'>

### Transforming to date type

This will make it easier to perform exploratory data analysis.

#### Column "posted"

In [17]:
# Verifying the type of each value of the ""posted column
posted_type_summary = data_preparation_utils.column_data_types_summary(df_user_reviews_3, "posted")
posted_type_summary

{'column_name': 'posted', 'data_type_counts': {"<class 'list'>": 25485}}

In [18]:
# Verifying data type of values inside "posted"
print(df_user_reviews_3["posted"][0])
print(type(df_user_reviews_3["posted"][0]))

print(df_user_reviews_3["posted"][0][0])
print(type(df_user_reviews_3["posted"][0][0]))

['Posted November 5, 2011.', 'Posted July 15, 2011.', 'Posted April 21, 2011.']
<class 'list'>
Posted November 5, 2011.
<class 'str'>

In [19]:
# Creating a copy of the dataframe
df_user_reviews_4 = df_user_reviews_3.copy()

# Setting the original datetime patterns
original_date_list = ["Posted %B %d, %Y."]

# Transforming to datetime type using "convert_column_to_dates" function
data_preparation_utils.convert_column_to_dates(df_user_reviews_4, "posted", original_date_list)

{'total_rows': 25485,
 'column_name': 'posted',
 'num_failed_conversions': 6499,
 'report': {2: {0: 'Posted February 3.'},
  6: {0: 'Posted May 20.'},
  7: {0: 'Posted July 24.'},
  9: {0: 'Posted June 16.'},
  10: {0: 'Posted June 11.'},
  20: {0: 'Posted February 27.'},
  21: {1: 'Posted August 23.'},
  23: {1: 'Posted May 16.'},
  26: {0: 'Posted March 31.'},
  30: {0: 'Posted July 9.'},
  33: {0: 'Posted June 16.', 1: 'Posted June 16.'},
  41: {0: 'Posted January 18.'},
  42: {0: 'Posted July 30.', 1: 'Posted July 28.'},
  44: {0: 'Posted February 20.'},
  49: {1: 'Posted May 7.',
   2: 'Posted May 7.',
   3: 'Posted April 4.',
   4: 'Posted March 30.',
   5: 'Posted March 28.'},
  58: {0: 'Posted January 11.'},
  60: {2: 'Posted April 20.'},
  61: {0: 'Posted February 26.'},
  69: {0: 'Posted August 31.'},
  71: {0: 'Posted March 27.', 1: 'Posted January 15.'},
  82: {0: 'Posted May 26.'},
  84: {0: 'Posted January 18.'},
  85: {6: 'Posted August 19.'},
  86: {1: 'Posted September 14.'},
  93: {0: 'Posted July 20.'},
  97: {1: 'Posted July 8.'},
  101: {0: 'Posted July 23.', 1: 'Posted February 20.'},
  104: {0: 'Posted September 9.'},
  108: {0: 'Posted February 22.'},
  111: {0: 'Posted May 29.', 1: 'Posted July 3.'},
  112: {0: 'Posted June 20.'},
  113: {0: 'Posted May 17.'},
  115: {0: 'Posted September 17.'},
  116: {3: 'Posted August 26.'},
  119: {2: 'Posted June 29.'},
  120: {0: 'Posted September 4.'},
  121: {0: 'Posted July 16.'},
  122: {1: 'Posted June 26.'},
  124: {0: 'Posted June 14.'},
  127: {3: 'Posted January 16.', 4: 'Posted March 5.'},
  128: {0: 'Posted March 19.'},
  129: {1: 'Posted April 19.', 2: 'Posted April 18.'},
  130: {0: 'Posted February 7.',
   1: 'Posted January 30.',
   2: 'Posted January 30.'},
  132: {0: 'Posted April 10.'},
  133: {0: 'Posted September 15.'},
  135: {1: 'Posted April 15.'},
  138: {0: 'Posted August 19.',
   1: 'Posted August 19.',
   2: 'Posted August 19.',
   3: 'Posted August 19.',
   4: 'Posted August 19.'},
  140: {0: 'Posted June 22.',
   1: 'Posted July 14.',
   2: 'Posted June 27.',
   3: 'Posted March 8.'},
  145: {0: 'Posted March 27.'},
  151: {0: 'Posted May 1.'},
  156: {0: 'Posted March 7.'},
  162: {0: 'Posted January 10.', 1: 'Posted September 12.'},
  163: {1: 'Posted June 25.'},
  164: {2: 'Posted March 20.'},
  166: {0: 'Posted May 15.',
   1: 'Posted May 13.',
   2: 'Posted July 10.',
   3: 'Posted September 17.',
   4: 'Posted August 16.',
   5: 'Posted July 31.',
   6: 'Posted June 29.',
   7: 'Posted March 6.'},
  168: {0: 'Posted September 8.'},
  169: {0: 'Posted September 2.', 1: 'Posted July 23.'},
  177: {1: 'Posted June 29.', 2: 'Posted March 25.', 5: 'Posted July 7.'},
  179: {0: 'Posted August 26.',
   2: 'Posted August 26.',
   8: 'Posted August 26.'},
  180: {0: 'Posted July 18.', 1: 'Posted July 16.'},
  181: {0: 'Posted May 14.'},
  183: {0: 'Posted March 30.'},
  184: {0: 'Posted June 18.',
   1: 'Posted March 20.',
   2: 'Posted March 20.',
   5: 'Posted March 20.'},
  185: {0: 'Posted April 22.'},
  191: {0: 'Posted March 12.'},
  197: {2: 'Posted August 13.', 3: 'Posted February 14.'},
  201: {0: 'Posted February 24.'},
  203: {8: 'Posted July 9.', 9: 'Posted March 2.'},
  208: {1: 'Posted January 11.'},
  210: {0: 'Posted August 15.', 1: 'Posted March 25.'},
  211: {0: 'Posted July 16.'},
  216: {0: 'Posted August 22.', 2: 'Posted January 9.'},
  225: {2: 'Posted July 24.'},
  229: {0: 'Posted June 27.',
   1: 'Posted June 26.',
   2: 'Posted June 26.',
   3: 'Posted June 26.'},
  230: {0: 'Posted March 24.', 1: 'Posted May 6.'},
  233: {1: 'Posted June 8.'},
  236: {1: 'Posted March 6.'},
  241: {1: 'Posted June 24.'},
  243: {1: 'Posted June 3.', 2: 'Posted June 24.'},
  245: {0: 'Posted August 14.'},
  248: {0: 'Posted August 28.'},
  249: {0: 'Posted January 10.'},
  251: {1: 'Posted January 22.'},
  252: {0: 'Posted April 12.', 1: 'Posted August 21.'},
  253: {0: 'Posted July 28.'},
  269: {0: 'Posted July 8.'},
  270: {0: 'Posted July 29.', 1: 'Posted July 5.'},
  274: {0: 'Posted January 9.'},
  275: {0: 'Posted July 16.',
   2: 'Posted July 24.',
   3: 'Posted May 30.',
   5: 'Posted January 1.'},
  279: {0: 'Posted May 12.'},
  283: {0: 'Posted July 7.'},
  284: {0: 'Posted August 28.'},
  285: {0: 'Posted July 7.', 1: 'Posted January 14.', 2: 'Posted May 23.'},
  294: {0: 'Posted February 3.',
   1: 'Posted February 3.',
   2: 'Posted February 18.',
   3: 'Posted February 13.'},
  297: {0: 'Posted June 17.'},
  306: {0: 'Posted September 12.'},
  310: {0: 'Posted July 18.'},
  318: {0: 'Posted January 11.'},
  320: {0: 'Posted May 13.'},
  324: {0: 'Posted May 23.',
   1: 'Posted March 4.',
   2: 'Posted August 3.',
   3: 'Posted April 15.'},
  327: {0: 'Posted February 21.'},
  333: {0: 'Posted July 20.',
   1: 'Posted March 27.',
   4: 'Posted March 27.',
   5: 'Posted July 20.',
   6: 'Posted March 27.',
   7: 'Posted March 27.',
   8: 'Posted March 27.'},
  341: {0: 'Posted March 31.'},
  342: {0: 'Posted June 28.',
   1: 'Posted July 20.',
   2: 'Posted July 6.',
   5: 'Posted May 18.',
   6: 'Posted August 29.'},
  343: {3: 'Posted January 2.'},
  344: {1: 'Posted July 12.'},
  345: {3: 'Posted March 10.'},
  348: {0: 'Posted July 4.',
   4: 'Posted September 7.',
   5: 'Posted February 20.',
   6: 'Posted February 29.'},
  350: {0: 'Posted January 27.'},
  351: {0: 'Posted July 12.'},
  352: {0: 'Posted March 11.',
   1: 'Posted March 11.',
   2: 'Posted March 11.',
   3: 'Posted March 11.',
   4: 'Posted March 11.',
   5: 'Posted March 11.',
   6: 'Posted March 11.'},
  357: {0: 'Posted September 10.'},
  359: {0: 'Posted July 4.',
   2: 'Posted June 28.',
   3: 'Posted June 28.',
   4: 'Posted June 28.',
   5: 'Posted July 4.',
   6: 'Posted July 4.'},
  364: {0: 'Posted April 28.'},
  365: {0: 'Posted February 11.'},
  366: {1: 'Posted May 14.'},
  367: {0: 'Posted February 23.'},
  375: {1: 'Posted July 12.'},
  378: {0: 'Posted May 24.'},
  380: {0: 'Posted August 21.'},
  385: {1: 'Posted July 16.'},
  387: {0: 'Posted March 22.'},
  389: {0: 'Posted March 10.', 1: 'Posted March 10.'},
  390: {0: 'Posted May 28.'},
  392: {1: 'Posted February 24.'},
  395: {0: 'Posted February 17.'},
  397: {1: 'Posted January 22.'},
  399: {5: 'Posted February 8.'},
  401: {0: 'Posted April 2.', 1: 'Posted April 2.'},
  402: {0: 'Posted August 12.', 1: 'Posted January 1.'},
  404: {0: 'Posted July 8.'},
  410: {1: 'Posted January 21.',
   2: 'Posted January 21.',
   3: 'Posted January 21.',
   4: 'Posted January 4.'},
  411: {0: 'Posted April 10.', 1: 'Posted January 16.'},
  414: {0: 'Posted July 14.'},
  415: {1: 'Posted January 7.'},
  419: {0: 'Posted May 25.', 1: 'Posted March 4.', 2: 'Posted February 13.'},
  420: {1: 'Posted May 13.', 2: 'Posted June 24.', 3: 'Posted September 16.'},
  421: {0: 'Posted June 23.'},
  424: {2: 'Posted May 7.',
   3: 'Posted July 18.',
   4: 'Posted July 3.',
   5: 'Posted March 4.'},
  425: {0: 'Posted September 14.'},
  428: {0: 'Posted June 15.', 1: 'Posted May 25.'},
  436: {0: 'Posted July 5.'},
  437: {0: 'Posted January 4.'},
  442: {0: 'Posted April 26.'},
  443: {2: 'Posted May 4.', 3: 'Posted March 5.'},
  447: {0: 'Posted April 28.'},
  458: {0: 'Posted September 3.'},
  460: {0: 'Posted January 3.'},
  463: {1: 'Posted January 26.'},
  465: {2: 'Posted June 26.',
   3: 'Posted August 23.',
   5: 'Posted May 31.',
   6: 'Posted April 15.'},
  472: {0: 'Posted February 10.'},
  473: {0: 'Posted January 31.'},
  476: {0: 'Posted January 27.'},
  478: {0: 'Posted August 21.'},
  480: {0: 'Posted March 30.',
   1: 'Posted March 28.',
   2: 'Posted March 26.',
   3: 'Posted January 25.'},
  482: {0: 'Posted August 7.'},
  484: {1: 'Posted February 20.'},
  488: {3: 'Posted January 19.', 4: 'Posted March 25.'},
  489: {0: 'Posted May 16.', 1: 'Posted January 24.'},
  490: {1: 'Posted April 29.'},
  492: {0: 'Posted August 12.', 1: 'Posted August 16.'},
  494: {2: 'Posted September 11.'},
  507: {0: 'Posted May 27.'},
  509: {0: 'Posted April 22.'},
  512: {0: 'Posted February 11.',
   5: 'Posted March 20.',
   6: 'Posted February 28.'},
  513: {0: 'Posted February 18.'},
  515: {1: 'Posted May 5.'},
  517: {0: 'Posted June 3.', 1: 'Posted February 27.'},
  521: {0: 'Posted April 29.', 1: 'Posted April 26.', 3: 'Posted June 26.'},
  532: {1: 'Posted April 2.'},
  539: {0: 'Posted March 22.', 1: 'Posted August 17.'},
  543: {0: 'Posted April 1.'},
  544: {2: 'Posted July 12.'},
  545: {0: 'Posted May 13.'},
  548: {0: 'Posted June 5.', 2: 'Posted June 11.'},
  549: {0: 'Posted June 24.'},
  563: {0: 'Posted April 4.'},
  565: {4: 'Posted June 23.', 5: 'Posted April 9.'},
  567: {0: 'Posted March 19.'},
  569: {1: 'Posted January 29.'},
  571: {0: 'Posted September 8.'},
  572: {0: 'Posted February 3.'},
  574: {0: 'Posted June 30.'},
  577: {0: 'Posted July 5.'},
  579: {0: 'Posted April 25.'},
  586: {0: 'Posted April 3.'},
  589: {0: 'Posted June 24.', 3: 'Posted February 15.', 4: 'Posted July 17.'},
  591: {0: 'Posted September 12.'},
  592: {0: 'Posted May 24.', 6: 'Posted February 18.'},
  593: {0: 'Posted August 16.'},
  597: {0: 'Posted September 8.',
   1: 'Posted September 8.',
   2: 'Posted September 8.',
   3: 'Posted February 6.'},
  606: {0: 'Posted April 1.'},
  607: {3: 'Posted August 14.', 4: 'Posted July 30.'},
  615: {0: 'Posted March 11.'},
  616: {4: 'Posted March 15.'},
  617: {1: 'Posted August 30.'},
  620: {0: 'Posted June 10.'},
  627: {0: 'Posted June 16.'},
  628: {2: 'Posted April 14.', 3: 'Posted April 12.'},
  633: {0: 'Posted June 5.'},
  636: {0: 'Posted August 5.'},
  640: {0: 'Posted July 23.', 4: 'Posted July 29.', 5: 'Posted September 17.'},
  642: {0: 'Posted May 27.'},
  643: {1: 'Posted April 12.'},
  647: {0: 'Posted August 26.'},
  650: {0: 'Posted January 21.',
   1: 'Posted April 9.',
   2: 'Posted January 22.'},
  654: {1: 'Posted March 29.'},
  656: {4: 'Posted September 17.'},
  657: {0: 'Posted July 25.'},
  658: {0: 'Posted January 13.'},
  662: {0: 'Posted July 13.',
   1: 'Posted May 14.',
   3: 'Posted July 11.',
   4: 'Posted August 28.',
   5: 'Posted August 25.'},
  667: {0: 'Posted April 13.'},
  670: {1: 'Posted June 20.'},
  682: {0: 'Posted February 27.', 1: 'Posted June 12.'},
  684: {0: 'Posted February 23.'},
  688: {0: 'Posted July 16.'},
  689: {0: 'Posted January 4.', 1: 'Posted February 16.'},
  690: {0: 'Posted May 13.', 2: 'Posted January 31.'},
  694: {0: 'Posted January 11.'},
  698: {0: 'Posted August 12.'},
  701: {1: 'Posted February 5.', 2: 'Posted January 22.'},
  702: {0: 'Posted June 24.', 1: 'Posted January 16.'},
  704: {1: 'Posted January 4.'},
  710: {0: 'Posted September 8.'},
  711: {0: 'Posted February 19.'},
  714: {1: 'Posted April 19.'},
  715: {0: 'Posted February 19.'},
  720: {1: 'Posted July 4.'},
  723: {0: 'Posted June 25.', 1: 'Posted May 14.'},
  724: {0: 'Posted March 21.', 3: 'Posted May 25.'},
  727: {0: 'Posted July 25.',
   1: 'Posted August 26.',
   2: 'Posted July 25.',
   3: 'Posted July 2.'},
  729: {0: 'Posted January 28.', 1: 'Posted April 9.'},
  730: {1: 'Posted May 28.'},
  734: {0: 'Posted August 5.'},
  741: {1: 'Posted June 2.',
   2: 'Posted May 28.',
   4: 'Posted March 14.',
   5: 'Posted May 28.'},
  749: {0: 'Posted June 29.'},
  761: {0: 'Posted January 14.'},
  763: {3: 'Posted August 13.'},
  765: {0: 'Posted May 8.'},
  767: {0: 'Posted September 7.'},
  770: {0: 'Posted July 27.'},
  772: {0: 'Posted June 18.'},
  788: {0: 'Posted March 11.', 2: 'Posted March 27.'},
  792: {3: 'Posted June 21.',
   5: 'Posted June 30.',
   6: 'Posted July 9.',
   7: 'Posted September 8.'},
  796: {1: 'Posted March 1.', 3: 'Posted July 27.'},
  798: {0: 'Posted January 3.'},
  799: {0: 'Posted May 11.'},
  801: {0: 'Posted June 15.'},
  803: {5: 'Posted August 19.', 6: 'Posted May 6.'},
  805: {0: 'Posted August 7.', 1: 'Posted September 12.'},
  808: {3: 'Posted May 28.'},
  810: {0: 'Posted April 25.'},
  811: {0: 'Posted June 22.'},
  815: {0: 'Posted September 10.'},
  816: {0: 'Posted January 20.'},
  818: {0: 'Posted September 8.'},
  819: {0: 'Posted April 21.'},
  821: {0: 'Posted March 7.'},
  822: {3: 'Posted January 30.'},
  827: {0: 'Posted August 5.'},
  830: {0: 'Posted March 19.'},
  831: {0: 'Posted February 5.'},
  832: {0: 'Posted July 18.', 1: 'Posted July 10.'},
  833: {0: 'Posted January 27.'},
  834: {0: 'Posted August 23.'},
  835: {0: 'Posted January 15.'},
  839: {0: 'Posted January 6.'},
  845: {0: 'Posted February 8.', 1: 'Posted January 4.'},
  847: {0: 'Posted January 28.'},
  850: {0: 'Posted March 6.'},
  851: {0: 'Posted August 20.',
   3: 'Posted August 10.',
   4: 'Posted September 9.',
   5: 'Posted August 31.',
   6: 'Posted July 29.'},
  854: {0: 'Posted June 25.'},
  857: {0: 'Posted June 7.'},
  858: {0: 'Posted July 4.'},
  862: {0: 'Posted May 1.'},
  864: {0: 'Posted June 3.'},
  865: {0: 'Posted April 10.', 1: 'Posted April 30.'},
  867: {0: 'Posted February 10.'},
  869: {0: 'Posted July 18.'},
  871: {0: 'Posted May 13.', 1: 'Posted April 22.', 2: 'Posted February 24.'},
  875: {0: 'Posted June 14.'},
  877: {0: 'Posted September 3.', 1: 'Posted August 23.'},
  878: {0: 'Posted July 30.'},
  879: {0: 'Posted July 29.', 1: 'Posted April 4.'},
  883: {1: 'Posted May 8.', 3: 'Posted April 12.'},
  888: {0: 'Posted April 17.',
   2: 'Posted June 12.',
   3: 'Posted March 29.',
   4: 'Posted March 21.',
   5: 'Posted February 24.'},
  891: {0: 'Posted June 9.'},
  895: {1: 'Posted June 16.'},
  899: {0: 'Posted June 4.'},
  900: {0: 'Posted April 11.', 1: 'Posted April 2.'},
  901: {0: 'Posted August 13.'},
  902: {1: 'Posted September 11.'},
  903: {0: 'Posted March 25.'},
  905: {4: 'Posted February 14.'},
  906: {0: 'Posted June 9.'},
  907: {1: 'Posted January 16.', 2: 'Posted February 15.'},
  909: {0: 'Posted April 28.', 1: 'Posted February 25.'},
  912: {1: 'Posted May 11.', 2: 'Posted March 5.'},
  914: {1: 'Posted March 27.'},
  923: {0: 'Posted January 21.'},
  924: {1: 'Posted April 27.'},
  926: {0: 'Posted April 28.', 2: 'Posted July 25.', 3: 'Posted June 20.'},
  929: {2: 'Posted May 27.'},
  932: {0: 'Posted May 23.'},
  933: {1: 'Posted April 7.', 2: 'Posted February 13.'},
  935: {0: 'Posted June 13.'},
  937: {0: 'Posted April 17.'},
  939: {0: 'Posted January 4.'},
  940: {1: 'Posted July 12.'},
  945: {0: 'Posted March 1.'},
  946: {0: 'Posted January 9.'},
  948: {3: 'Posted June 2.', 4: 'Posted June 14.'},
  949: {0: 'Posted August 27.'},
  954: {0: 'Posted June 25.',
   2: 'Posted January 27.',
   3: 'Posted May 14.',
   4: 'Posted June 25.',
   5: 'Posted March 27.'},
  955: {0: 'Posted February 27.'},
  956: {0: 'Posted July 29.', 1: 'Posted May 30.'},
  964: {0: 'Posted August 6.',
   2: 'Posted August 18.',
   3: 'Posted July 5.',
   4: 'Posted March 29.',
   5: 'Posted March 29.',
   6: 'Posted March 28.',
   7: 'Posted March 28.'},
  965: {2: 'Posted July 17.', 3: 'Posted March 20.'},
  966: {1: 'Posted April 20.'},
  968: {0: 'Posted March 19.'},
  969: {0: 'Posted September 2.',
   1: 'Posted August 30.',
   2: 'Posted February 10.',
   3: 'Posted January 31.'},
  970: {0: 'Posted January 26.'},
  982: {0: 'Posted March 4.'},
  985: {0: 'Posted June 22.'},
  986: {0: 'Posted January 3.'},
  990: {0: 'Posted March 9.', 1: 'Posted March 9.', 2: 'Posted March 21.'},
  993: {0: 'Posted January 17.'},
  996: {0: 'Posted June 2.'},
  997: {0: 'Posted March 11.'},
  998: {0: 'Posted July 20.'},
  1000: {1: 'Posted May 1.'},
  1002: {0: 'Posted April 21.', 1: 'Posted April 9.'},
  1003: {0: 'Posted April 9.', 1: 'Posted April 9.', 2: 'Posted April 9.'},
  1008: {0: 'Posted June 15.'},
  1012: {0: 'Posted April 10.', 1: 'Posted June 6.'},
  1013: {1: 'Posted August 26.'},
  1016: {0: 'Posted March 30.',
   1: 'Posted August 26.',
   2: 'Posted August 10.'},
  1017: {0: 'Posted March 10.'},
  1018: {0: 'Posted July 2.'},
  1019: {0: 'Posted June 22.'},
  1021: {3: 'Posted March 23.'},
  1022: {1: 'Posted March 6.'},
  1025: {0: 'Posted February 24.',
   1: 'Posted April 14.',
   2: 'Posted February 24.',
   3: 'Posted February 24.'},
  1026: {0: 'Posted September 18.',
   1: 'Posted February 20.',
   2: 'Posted January 24.',
   3: 'Posted January 21.'},
  1027: {0: 'Posted January 21.'},
  1028: {0: 'Posted August 2.',
   1: 'Posted September 16.',
   2: 'Posted June 29.'},
  1031: {0: 'Posted June 3.'},
  1034: {0: 'Posted May 23.'},
  1035: {0: 'Posted March 2.'},
  1036: {0: 'Posted May 1.'},
  1037: {0: 'Posted August 15.'},
  1038: {0: 'Posted April 17.'},
  1042: {0: 'Posted May 14.'},
  1046: {0: 'Posted July 1.',
   1: 'Posted July 18.',
   2: 'Posted July 1.',
   3: 'Posted July 1.',
   4: 'Posted June 7.',
   5: 'Posted June 6.'},
  1053: {0: 'Posted August 20.'},
  1054: {2: 'Posted August 21.'},
  1056: {0: 'Posted May 28.', 1: 'Posted August 9.'},
  1057: {0: 'Posted January 8.'},
  1062: {0: 'Posted July 19.', 1: 'Posted June 29.'},
  1070: {4: 'Posted August 7.'},
  1079: {0: 'Posted April 20.', 1: 'Posted March 3.', 2: 'Posted June 30.'},
  1080: {0: 'Posted April 16.'},
  1082: {3: 'Posted April 18.'},
  1084: {0: 'Posted July 15.',
   1: 'Posted July 15.',
   2: 'Posted July 15.',
   3: 'Posted July 15.',
   4: 'Posted July 10.',
   5: 'Posted July 15.',
   6: 'Posted July 15.',
   7: 'Posted September 13.'},
  1098: {0: 'Posted April 14.', 2: 'Posted April 14.'},
  1100: {2: 'Posted May 10.', 3: 'Posted January 17.'},
  1111: {0: 'Posted January 23.', 1: 'Posted January 19.'},
  1115: {2: 'Posted February 6.'},
  1123: {5: 'Posted January 14.'},
  1128: {0: 'Posted August 29.'},
  1130: {0: 'Posted January 19.'},
  1132: {0: 'Posted July 3.'},
  1145: {0: 'Posted May 15.'},
  1150: {1: 'Posted September 17.'},
  1152: {0: 'Posted January 22.'},
  1153: {5: 'Posted April 13.'},
  1166: {0: 'Posted March 27.',
   1: 'Posted September 11.',
   2: 'Posted February 6.',
   3: 'Posted September 11.',
   4: 'Posted March 4.'},
  1168: {0: 'Posted August 30.'},
  1173: {0: 'Posted April 9.',
   1: 'Posted April 9.',
   2: 'Posted April 9.',
   3: 'Posted April 5.',
   4: 'Posted January 2.'},
  1174: {0: 'Posted September 17.'},
  1175: {3: 'Posted February 6.'},
  1177: {1: 'Posted April 17.', 2: 'Posted February 15.'},
  1178: {0: 'Posted February 8.', 3: 'Posted July 16.'},
  1188: {0: 'Posted February 5.', 2: 'Posted January 29.'},
  1195: {0: 'Posted August 20.'},
  1197: {2: 'Posted May 20.'},
  1198: {1: 'Posted February 17.', 2: 'Posted January 23.'},
  1199: {0: 'Posted March 3.'},
  1200: {0: 'Posted August 9.'},
  1202: {0: 'Posted January 1.',
   1: 'Posted July 7.',
   2: 'Posted March 30.',
   3: 'Posted May 15.',
   4: 'Posted April 10.',
   5: 'Posted June 25.',
   6: 'Posted March 1.'},
  1203: {0: 'Posted September 17.'},
  1206: {1: 'Posted September 5.',
   2: 'Posted July 2.',
   3: 'Posted March 4.',
   4: 'Posted April 26.',
   5: 'Posted August 27.'},
  1208: {0: 'Posted June 24.',
   1: 'Posted June 24.',
   2: 'Posted April 29.',
   3: 'Posted August 8.',
   4: 'Posted February 5.',
   5: 'Posted August 30.',
   6: 'Posted June 19.',
   7: 'Posted June 24.'},
  1211: {0: 'Posted July 4.'},
  1212: {0: 'Posted May 31.'},
  1213: {0: 'Posted September 6.',
   1: 'Posted March 5.',
   2: 'Posted January 29.'},
  1214: {1: 'Posted January 18.'},
  1218: {0: 'Posted January 15.'},
  1222: {0: 'Posted August 24.'},
  1224: {1: 'Posted March 14.'},
  1226: {0: 'Posted September 16.',
   1: 'Posted September 16.',
   2: 'Posted August 28.',
   3: 'Posted August 22.',
   4: 'Posted July 7.',
   5: 'Posted July 2.',
   6: 'Posted June 4.'},
  1227: {0: 'Posted July 4.',
   1: 'Posted July 6.',
   2: 'Posted July 12.',
   3: 'Posted June 4.',
   4: 'Posted August 18.',
   5: 'Posted July 22.'},
  1229: {0: 'Posted January 13.'},
  1233: {1: 'Posted February 13.'},
  1236: {1: 'Posted January 6.', 2: 'Posted June 13.'},
  1238: {0: 'Posted February 3.'},

In [20]:
# Verifying data type of values inside "posted" lists
print(df_user_reviews_4["posted"][1600][0])

2014-02-12

The remaining values will be reviewed during EDA, due to the remaining data have missing year, and some others also are out of day range (29-February)

### Creating file

A csv file is created to be used in EDA

In [21]:
df_user_reviews_4.columns

Index(['user_id', 'user_url', 'reviews', 'funny', 'posted', 'last_edited',
       'item_id', 'helpful', 'recommend', 'review'],
      dtype='object')

In [22]:
# Necessary data
# all columns except "reviews" for the nested data

necessary_columns = ["user_id", "user_url", "item_id", "posted", "last_edited", "helpful", "recommend", "funny", "review"]

# Create a new DataFrame with only the selected columns
user_reviews_dataframe = df_user_reviews_4[necessary_columns]

# Saving the dataframe to a csv format file
# The file will be stored in eda inside a the datasets folder 
user_reviews_dataframe.to_csv('../eda/datasets/user_reviews.csv', index=False)

## User Items

### Creating a DataFrame

Creating a DataFrame from the australian_users_items JSON file

In [23]:
# Open JSON file and load data in variable
items_data = []
with open(r"./raw_data/australian_users_items.json", encoding="MacRoman") as file:
    for line in file.readlines():
        items_data.append(ast.literal_eval(line))

In [24]:
# Create a DataFrame from variable
df_user_items = pd.DataFrame(items_data)
df_user_items

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

### Preparing the users items data

#### Checking Null values

In [25]:
df_user_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88310 entries, 0 to 88309
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      88310 non-null  object
 1   items_count  88310 non-null  int64
 2   steam_id     88310 non-null  object
 3   user_url     88310 non-null  object
 4   items        88310 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.4+ MB

No Null values found

#### Checking Duplicate values

In [26]:
# Call the function to check for duplicates in the "user_url" column
duplicates_steam_id = data_preparation_utils.check_duplicates_summary(df_user_items, "steam_id")

# Print the summary
print(duplicates_steam_id)

      Duplicated Value  Occurrences
0    76561198094973305            3
6    76561198085989695            3
1    76561198072861800            3
9    76561198051777058            3
8    76561198081666970            3
..                 ...          ...
231  76561198026742195            2
232  76561198035336388            2
233  76561198071790027            2
234  76561198073621277            2
673  76561198086134170            2

[674 rows x 2 columns]

#### Removing Duplicate values

Duplicate steam_id values are removed, as they will affect future measurements. This consideration was made because user_id can be duplicated but steam_id can't.

In [27]:
df_user_items_1 = data_preparation_utils.remove_duplicates(df_user_items, "steam_id")

Removed 685 duplicate rows based on 'steam_id' column.

In [28]:
# Verifiying no duplicate values left

# Call the function to check for duplicates in the "steam_id" column
duplicates_steam_id = data_preparation_utils.check_duplicates_summary(df_user_items_1, "steam_id")

# Print the summary
print(duplicates_steam_id)

Empty DataFrame
Columns: [Duplicated Value, Occurrences]
Index: []

#### Checking None values

In [29]:
# Call the function to check for none values in the "steam_id" column
none_steam_id = data_preparation_utils.check_none_values(df_user_items_1, "steam_id")

# Print the summary
print(none_steam_id)

{'column_name': 'steam_id', 'total_rows': 87625, 'num_none_values': 0, 'rows_below_threshold': None}

No None values found

#### Unesting "items" data

In [30]:
df_user_items_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87625 entries, 0 to 88309
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      87625 non-null  object
 1   items_count  87625 non-null  int64
 2   steam_id     87625 non-null  object
 3   user_url     87625 non-null  object
 4   items        87625 non-null  object
dtypes: int64(1), object(4)
memory usage: 4.0+ MB

In [31]:
# Verifying the data types of "items" column
items_data_type = data_preparation_utils.column_data_types_summary(df_user_items_1, "items")
items_data_type

{'column_name': 'items', 'data_type_counts': {"<class 'list'>": 87625}}

In [32]:
# Asigning values to variables
items_column_name = "items"
items_keys = ["item_id", "item_name", "playtime_forever", "playtime_2weeks"]
items_new_columns = ["item_id", "item_name", "playtime_forever", "playtime_2weeks"]

In [33]:
# Creating a copy of the dataframe
df_user_items_2 = df_user_items_1.copy()

# Ectracting nested values from items
data_preparation_utils.extract_values(df_user_items_2, items_column_name, items_keys, items_new_columns)

,user_id,items_count,steam_id,user_url,items,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik...","[10, 20, 30, 40, 50, 60, 70, 130, 300, 240, 38...","[Counter-Strike, Team Fortress Classic, Day of...","[6, 0, 7, 0, 0, 0, 0, 0, 4733, 1853, 333, 75, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik...","[10, 80, 100, 300, 30, 40, 60, 240, 280, 360, ...","[Counter-Strike, Counter-Strike: Condition Zer...","[0, 0, 0, 220, 0, 0, 0, 62, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest...","[1200, 1230, 1280, 1520, 220, 320, 340, 360, 3...","[Red Orchestra: Ostfront 41-45, Mare Nostrum, ...","[923, 0, 0, 158, 1323, 0, 90, 0, 234, 113, 507...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik...","[10, 20, 30, 40, 50, 60, 70, 130, 80, 100, 300...","[Counter-Strike, Team Fortress Classic, Day of...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 67, 2304, 0, 0,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea...","[300, 20, 50, 70, 130, 10, 30, 40, 60, 80, 100...","[Day of Defeat: Source, Team Fortress Classic,...","[1131, 89, 178, 108, 313, 93, 16, 4, 0, 13, 47...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla...","[413850, 413851, 413852, 413853, 413854, 41385...","[CS:GO Player Profiles, CS:GO Player Profiles:...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania...","[11020, 6370, 13140, 51100, 107900, 113400, 20...","[TrackMania Nations Forever, Bloodline Champio...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[],[],[],[],[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'...","[304930, 227940, 346330, 373330, 388490, 52157...","[Unturned, Heroes & Generals, BrainBread 2, Al...","[677, 43, 0, 0, 3, 4, 3]","[677, 43, 0, 0, 3, 4, 3]"
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[],[],[],[],[]

### Transforming to numeric type

#### Column "items_count"

In [34]:
# Call the function to check data type of values in the "items_count" column
user_items_count_summary = data_preparation_utils.column_data_types_summary(df_user_items_2, "items_count")
user_items_count_summary

{'column_name': 'items_count', 'data_type_counts': {"<class 'int'>": 87625}}

No need to change the values

#### Column "item_id"

In [35]:
# Call the function to check data type of values in the "items_count" column
user_item_id_count_summary = data_preparation_utils.column_data_types_summary(df_user_items_2, "item_id")
user_item_id_count_summary

{'column_name': 'item_id', 'data_type_counts': {"<class 'list'>": 87625}}

In [36]:
# Verifying data type of values inside lists
print(df_user_items_2["item_id"][0][0])
print(type(df_user_items_2["item_id"][0][0]))

10
<class 'str'>

In [37]:
# Creating a copy of the dataframe
df_user_items_3 = df_user_items_2.copy()

# Transforming to numeric type using "convert_column_to_numeric" function
data_preparation_utils.convert_column_to_numeric(df_user_items_3, "item_id")

{'total_rows': 87625,
 'column_name': 'item_id',
 'num_failed_conversions': 0,
 'report': {}}

In [38]:
# Verifying data type of values inside lists
print(df_user_items_3["item_id"][0][0])
print(type(df_user_items_3["item_id"][0][0]))

10
<class 'numpy.int64'>

#### Column "playtime_forever"

In [39]:
# Call the function to check data type of values in the "playtime_forever" column
user_playtime_count_summary = data_preparation_utils.column_data_types_summary(df_user_items_3, "playtime_forever")
user_playtime_count_summary

{'column_name': 'playtime_forever',
 'data_type_counts': {"<class 'list'>": 87625}}

In [40]:
# Verifying data type of values inside lists
print(df_user_items_3["playtime_forever"][2210][0])
print(type(df_user_items_3["playtime_forever"][2210][0]))

663
<class 'int'>

No need to change the values

### Creating file

Creating a csv file to be used in EDA

In [41]:
df_user_items_3.columns

Index(['user_id', 'items_count', 'steam_id', 'user_url', 'items', 'item_id',
       'item_name', 'playtime_forever', 'playtime_2weeks'],
      dtype='object')

In [42]:
# Necessary data
# all columns except "items" for the nested data

items_necessary_columns = ["user_id", "steam_id", "user_url", "items_count", "item_id", "item_name", "playtime_forever", "playtime_2weeks"]

# Create a new DataFrame with only the selected columns
user_items_dataframe = df_user_items_3[items_necessary_columns]

# Save the selected DataFrame to a CSV file
# The file will be stored in eda inside a the datasets folder 
user_items_dataframe.to_csv('../eda/datasets/user_items.csv', index=False)

## Steam Games

### Creating a DataFrame

Creating a DataFrame from the output_steam_games JSON file

In [43]:
# Open JSON file and load data in variable
games_data = []
with open("./raw_data/output_steam_games.json", encoding="MacRoman") as file:
    for line in file:
        games_data.append(json.loads(line))

In [44]:
# Create a DataFrame from variable
df_games_data = pd.DataFrame(games_data)
df_games_data

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,False,773640,"Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,False,733530,Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,False,610660,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,"xropi,stev3ns"
120444,NaN,NaN,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,NaN,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,True,681550,NaN

### Preparing the steam games data

#### Checking Null values

In [45]:
# Checking Null values
df_games_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  object
 11  id            32133 non-null  object
 12  developer     28836 non-null  object
dtypes: object(13)
memory usage: 11.9+ MB

#### Removing Null values

The dataframe have more tha 85k NaN values in all columns

In [46]:
# Removing rows that have all it's columns with Null values
df_games_data_1 = df_games_data.dropna(how='all')

In [47]:
# Verfying if the performed action afected the rest of the values in the dataframe
df_games_data_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32135 entries, 88310 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  object
 11  id            32133 non-null  object
 12  developer     28836 non-null  object
dtypes: object(13)
memory usage: 3.4+ MB

Comparing the information between df_games_data and df_games_data_1. <br>
Values with important information is still present

#### Checking Duplicate values

The "id" values are important and cannot be duplicated to avoid errors in EDA

In [48]:
# Call the function to check for duplicates in the "id" column
duplicate_games_id = data_preparation_utils.check_duplicates_summary(df_games_data_1, "id")

# Print the summary
print(duplicate_games_id)

  Duplicated Value  Occurrences
0           612880            2

In [49]:
# Find the indices of duplicate values in the 'id' column
duplicate_indices = df_games_data_1[df_games_data_1['id'].duplicated(keep=False)].index
print(duplicate_indices)

Index([88384, 102204, 102883, 119271], dtype='int64')

In [50]:
dup_idx_list = [88384, 102204, 102883, 119271]
for val in dup_idx_list:
    print(f"index: {val}, value: ", df_games_data_1["id"][val])

index: 88384, value:  nan
index: 102204, value:  612880
index: 102883, value:  612880
index: 119271, value:  nan

#### Removing Duplicate values

Duplicate id values are removed, as they will affect future measurements <br>
Nan values will be reviewed in EDA

In [51]:
# If I Call the function "remove_duplicates" it will also delete rows with nan values

# Creating a copy of the dataframe
df_games_data_2 = df_games_data_1.copy()

# Index of the row to remove
index_to_remove = 102883

# Remove the row with the specified index
df_games_data_2 = df_games_data_2.drop(index_to_remove)

In [52]:
# Verifiying no duplicate values left

# Find the indices of duplicate values in the 'id' column
duplicate_indices = df_games_data_2[df_games_data_2['id'].duplicated(keep=False)].index
print(duplicate_indices)

Index([88384, 119271], dtype='int64')

Comparing the information between df_games_data_1 and df_games_data_2. <br>
Only 1 duplicate value was removed in all columns

### Transforming to numeric type

To have better performance in the API

##### "id" column

In [53]:
# Call the function to summarize the data types of the "id" values
id_summary = data_preparation_utils.column_data_types_summary(df_games_data_2, "id")
id_summary

{'column_name': 'id',
 'data_type_counts': {"<class 'str'>": 32132, "<class 'float'>": 2}}

In [54]:
# Making a copy of the dataframe
df_games_data_3 = df_games_data_2.copy()

In [55]:
# Calling the function to transform "id" values into numeric type
id_transformation = data_preparation_utils.convert_column_to_numeric(df_games_data_3, "id")
id_transformation

{'total_rows': 32134,
 'column_name': 'id',
 'num_failed_conversions': 0,
 'report': {}}

##### "price" column

To be able to perform and EDA using the price, all values must be numeric type

In [56]:
# Call the function to summarize the data types of the "price" values
price_summary = data_preparation_utils.column_data_types_summary(df_games_data_3, "price")
price_summary

{'column_name': 'price',
 'data_type_counts': {"<class 'float'>": 30224, "<class 'str'>": 1910}}

In [57]:
# Calling the function to transform "price" values into numeric type
price_transformation = data_preparation_utils.convert_column_to_numeric(df_games_data_3, "price")
price_transformation

{'total_rows': 32134,
 'column_name': 'price',
 'num_failed_conversions': 1910,
 'report': {88311: 'Free To Play',
  88312: 'Free to Play',
  88321: 'Free',
  88370: 'Free',
  88501: 'Free',
  88558: 'Free',
  88575: 'Free to Play',
  88666: 'Free',
  88679: 'Free',
  88752: 'Free',
  88927: 'Free to Play',
  88963: 'Free to Play',
  88964: 'Free to Play',
  88965: 'Free to Play',
  88969: 'Free',
  89030: 'Free to Play',
  89064: 'Free to Play',
  89077: 'Free to Play',
  89105: 'Free to Play',
  89152: 'Free to Play',
  89176: 'Free to Play',
  89230: 'Free Demo',
  89231: 'Free Demo',
  89279: 'Play for Free!',
  89285: 'Free to Play',
  89291: 'Play for Free!',
  89296: 'Free to Play',
  89523: 'Free to Play',
  89648: 'Free',
  89674: 'Free',
  89765: 'Free to Play',
  89772: 'Free to Play',
  89811: 'Free',
  89839: 'Free to Play',
  89900: 'Free to Play',
  89958: 'Free to Play',
  90110: 'Free to Play',
  90119: 'Free To Play',
  90175: 'Free',
  90326: 'Free to Play',
  90349: 'Free',
  90388: 'Free To Play',
  90442: 'Free',
  90458: 'Free',
  90511: 'Free to Play',
  90514: 'Free to Play',
  90667: 'Free to Play',
  90714: 'Free to Play',
  90715: 'Install Now',
  90765: 'Free To Play',
  90800: 'Free',
  90838: 'Free to Play',
  90857: 'Free',
  90931: 'Free',
  90942: 'Free To Play',
  90953: 'Free to Play',
  91024: 'Free to Play',
  91043: 'Free',
  91051: 'Free',
  91179: 'Free to Play',
  91181: 'Play WARMACHINE: Tactics Demo',
  91187: 'Free',
  91226: 'Free to Play',
  91233: 'Free to Play',
  91238: 'Free',
  91247: 'Free',
  91297: 'Free to Play',
  91359: 'Free to Play',
  91361: 'Free',
  91380: 'Free',
  91402: 'Free To Play',
  91436: 'Free to Play',
  91454: 'Free to Play',
  91492: 'Free to Play',
  91495: 'Free to Play',
  91497: 'Free to Play',
  91624: 'Free Mod',
  91633: 'Free to Play',
  91657: 'Free to Play',
  91681: 'Free',
  91686: 'Free to Play',
  91689: 'Free to Play',
  91692: 'Free to Play',
  91723: 'Free to Play',
  91745: 'Free to Play',
  91789: 'Free',
  91797: 'Free to Play',
  91832: 'Free to Play',
  91833: 'Free to Play',
  91863: 'Free to Play',
  91887: 'Free',
  91906: 'Free to Play',
  91935: 'Free to Play',
  91973: 'Free',
  91979: 'Free to Play',
  91995: 'Free',
  92024: 'Free to Play',
  92026: 'Free to Play',
  92086: 'Free to Play',
  92142: 'Install Theme',
  92163: 'Free to Play',
  92194: 'Free to Play',
  92196: 'Free',
  92214: 'Free to Play',
  92228: 'Third-party',
  92264: 'Free to Play',
  92287: 'Free',
  92290: 'Free to Play',
  92299: 'Free To Play',
  92302: 'Free',
  92318: 'Free',
  92329: 'Free',
  92332: 'Free',
  92336: 'Play Now',
  92408: 'Free',
  92426: 'Free',
  92449: 'Free',
  92473: 'Free',
  92477: 'Free to Play',
  92501: 'Free',
  92522: 'Free to Play',
  92532: 'Free',
  92547: 'Free to Play',
  92565: 'Free',
  92575: 'Free',
  92581: 'Free to Play',
  92584: 'Free to Play',
  92587: 'Free to Play',
  92612: 'Free to Play',
  92615: 'Free to Play',
  92622: 'Free to Play',
  92643: 'Free to Play',
  92649: 'Free to Play',
  92661: 'Free',
  92724: 'Free',
  92751: 'Free',
  92756: 'Free to Play',
  92771: 'Free to Play',
  92804: 'Free',
  92865: 'Free to Play',
  92930: 'Free to Play',
  92932: 'Free',
  92962: 'Free to Play',
  93015: 'Free',
  93017: 'Free to Play',
  93033: 'Free',
  93053: 'Free',
  93068: 'Free to Play',
  93078: 'Free to Play',
  93096: 'Free',
  93125: 'Free',
  93191: 'Free to Play',
  93203: 'Free to Play',
  93223: 'Free',
  93251: 'Free to Play',
  93252: 'Free to Play',
  93255: 'Free',
  93260: 'Free',
  93290: 'Free to Play',
  93316: 'Free',
  93318: 'Free to Play',
  93347: 'Free',
  93348: 'Free',
  93358: 'Free to Play',
  93365: 'Free',
  93436: 'Free',
  93440: 'Free',
  93471: 'Free to Play',
  93472: 'Free to Play',
  93482: 'Free to Play',
  93484: 'Free to Play',
  93485: 'Free to Play',
  93499: 'Free',
  93509: 'Free to Play',
  93551: 'Free to Play',
  93552: 'Free to Play',
  93585: 'Free to Play',
  93587: 'Free to Play',
  93593: 'Free to Play',
  93623: 'Free to Play',
  93640: 'Free',
  93644: 'Free to Play',
  93686: 'Free to Play',
  93712: 'Free',
  93718: 'Free',
  93763: 'Free to Play',
  93765: 'Free to Play',
  93785: 'Free',
  93789: 'Free to Play',
  93792: 'Free',
  93830: 'Free',
  93832: 'Free to Play',
  93845: 'Free to Play',
  93854: 'Free to Play',
  93862: 'Free to Play',
  93866: 'Free',
  93884: 'Free',
  93899: 'Free HITMANâ„¢ Holiday Pack',
  93918: 'Free to Play',
  93938: 'Free to Play',
  93947: 'Free to Play',
  93964: 'Free to Play',
  93976: 'Free to Play',
  93985: 'Free to Play',
  94023: 'Free to Play',
  94037: 'Free',
  94040: 'Free',
  94044: 'Free',
  94047: 'Free',
  94053: 'Free to Play',
  94075: 'Free',
  94102: 'Free to Play',
  94104: 'Free to Play',
  94121: 'Free to Play',
  94123: 'Free to Play',
  94128: 'Free',
  94153: 'Free',
  94218: 'Free to Play',
  94231: 'Free',
  94261: 'Free',
  94285: 'Free To Play',
  94288: 'Free to Play',
  94296: 'Free',
  94319: 'Free',
  94324: 'Free to Play',
  94363: 'Free to Play',
  94370: 'Free To Play',
  94388: 'Free to Play',
  94410: 'Free to Play',
  94411: 'Free',
  94422: 'Free To Play',
  94465: 'Free',
  94492: 'Free',
  94514: 'Free to Play',
  94522: 'Free',
  94535: 'Free',
  94537: 'Free To Play',
  94540: 'Free to Play',
  94558: 'Free',
  94565: 'Free To Play',
  94582: 'Free',
  94587: 'Free to Play',
  94589: 'Free',
  94590: 'Free',
  94604: 'Free to Play',
  94606: 'Free To Play',
  94618: 'Free',
  94633: 'Free',
  94651: 'Free to Play',
  94663: 'Free',
  94674: 'Free',
  94706: 'Free To Play',
  94735: 'Free to Play',
  94740: 'Free To Play',
  94753: 'Free',
  94769: 'Free',
  94770: 'Free',
  94774: 'Free To Play',
  94781: 'Free',
  94784: 'Free',
  94818: 'Free to Play',
  94832: 'Free',
  94861: 'Free',
  94865: 'Free',
  94867: 'Free To Play',
  94873: 'Free to Play',
  94882: 'Free',
  94885: 'Free',
  94894: 'Free',
  94929: 'Free To Play',
  94936: 'Free To Play',
  94950: 'Free To Play',
  94954: 'Free',
  94957: 'Free To Play',
  94958: 'Free',
  94971: 'Free',
  94983: 'Free',
  95011: 'Free',
  95018: 'Free',
  95022: 'Free',
  95028: 'Free To Play',
  95029: 'Free',
  95032: 'Free',
  95034: 'Free to Play',
  95039: 'Free',
  95059: 'Free',
  95109: 'Free',
  95132: 'Free',
  95143: 'Free',
  95149: 'Free',
  95152: 'Free To Play',
  95239: 'Free',
  95273: 'Free To Play',
  95283: 'Free To Play',
  95287: 'Free',
  95322: 'Free to Play',
  95341: 'Free To Play',
  95400: 'Free to Play',
  95442: 'Free',
  95463: 'Free',
  95486: 'Free',
  95518: 'Free',
  95525: 'Free To Play',
  95530: 'Free',
  95531: 'Free To Play',
  95534: 'Free To Play',
  95551: 'Free',
  95563: 'Free To Play',
  95570: 'Free to Play',
  95572: 'Free To Play',
  95577: 'Free To Play',
  95584: 'Free',
  95590: 'Free',
  95597: 'Free',
  95620: 'Free to Play',
  95627: 'Free To Play',
  95652: 'Free To Play',
  95666: 'Free To Play',
  95668: 'Free to Play',
  95672: 'Free',
  95690: 'Free To Play',
  95701: 'Free',
  95702: 'Free To Play',
  95711: 'Free',
  95714: 'Free',
  95722: 'Free',
  95746: 'Free To Play',
  95757: 'Free',
  95758: 'Free To Play',
  95767: 'Free To Play',
  95785: 'Free',
  95808: 'Free',
  95816: 'Free To Play',
  95827: 'Free',
  95840: 'Free',
  95846: 'Free',
  95861: 'Free To Play',
  95866: 'Free',
  95881: 'Free',
  95891: 'Free',
  95899: 'Free To Play',
  95908: 'Free To Play',
  95910: 'Free To Play',
  95914: 'Free to Play',
  95915: 'Free To Play',
  95916: 'Free',
  95917: 'Free',
  95921: 'Free to Play',
  95928: 'Free To Play',
  95929: 'Free',
  95931: 'Free',
  95939: 'Free To Play',
  95945: 'Free',
  95974: 'Free To Play',
  95976: 'Free To Play',
  95977: 'Free',
  95991: 'Free To Play',
  96004: 'Free',
  96007: 'Free to Play',
  96019: 'Free',
  96027: 'Free',
  96044: 'Free',
  96045: 'Free',
  96046: 'Free',
  96058: 'Free',
  96072: 'Free To Play',
  96078: 'Free to Play',
  96090: 'Free',
  96101: 'Free',
  96109: 'Free',
  96113: 'Free',
  96116: 'Free',
  96129: 'Free',
  96135: 'Free To Play',
  96152: 'Free',
  96173: 'Free',
  96184: 'Free',
  96201: 'Free',
  96203: 'Free to Play',
  96232: 'Free To Play',
  96244: 'Free',
  96254: 'Free',
  96255: 'Free To Play',
  96274: 'Free',
  96277: 'Free',
  96279: 'Free',
  96296: 'Free',
  96312: 'Free To Play',
  96335: 'Free to Play',
  96346: 'Free',
  96375: 'Free To Play',
  96391: 'Free To Play',
  96415: 'Free to Play',
  96420: 'Free',
  96442: 'Free',
  96445: 'Free',
  96446: 'Free',
  96481: 'Free',
  96485: 'Free',
  96503: 'Free To Play',
  96507: 'Free',
  96509: 'Free To Play',
  96513: 'Free',
  96521: 'Free To Play',
  96525: 'Free',
  96533: 'Free To Play',
  96535: 'Free To Play',
  96549: 'Free To Play',
  96556: 'Free To Play',
  96558: 'Free',
  96595: 'Free',
  96619: 'Free',
  96630: 'Free',
  96637: 'Free',
  96642: 'Free to Play',
  96647: 'Free',
  96649: 'Free',
  96660: 'Free to Play',
  96662: 'Free To Play',
  96670: 'Free To Play',
  96687: 'Free To Play',
  96691: 'Free',
  96704: 'Free',
  96734: 'Free',
  96754: 'Free',
  96794: 'Free',
  96843: 'Free to Play',
  96848: 'Free to Play',
  96852: 'Free to Play',
  96873: 'Free To Play',
  96877: 'Free',
  96885: 'Free',
  96887: 'Free',
  96899: 'Free To Play',
  96908: 'Free',
  96914: 'Free',
  96935: 'Free',
  96943: 'Free To Play',
  96951: 'Free',
  96968: 'Free To Play',
  96971: 'Free To Play',
  96973: 'Free to Play',
  96987: 'Free',
  97003: 'Free',
  97019: 'Free To Play',
  97021: 'Free To Play',
  97023: 'Free To Play',
  97030: 'Free To Play',
  97054: 'Free to Play',
  97076: 'Free to Play',
  97087: 'Free',
  97099: 'Free',
  97109: 'Free',
  97140: 'Free',
  97159: 'Free',
  97163: 'Free to Play',
  97198: 'Free To Play',
  97203: 'Free',
  97213: 'Free to Play',
  97214: 'Free To Play',
  97218: 'Free',
  97242: 'Free',
  97244: 'Free',
  97268: 'Free To Play',
  97304: 'Free To Play',
  97320: 'Free to Play',
  97325: 'Free To Play',
  97329: 'Free',
  97350: 'Free',
  97393: 'Free To Play',
  97396: 'Free',
  97404: 'Free To Play',
  97405: 'Free',
  97412: 'Free',
  97414: 'Free',
  97441: 'Free',
  97452: 'Free to Play',
  97454: 'Free to Play',
  97487: 'Free To Play',
  97504: 'Free to Play',
  97505: 'Free to Play',
  97507: 'Free to Play',
  97516: 'Free To Play',
  97530: 'Free To Play',
  97534: 'Free To Play',
  97541: 'Free',
  97562: 'Free to Play',
  97584: 'Free',
  97586: 'Free',
  97587: 'Free',
  97588: 'Free',
  97589: 'Free',
  97590: 'Free',
  97591: 'Free',
  97595: 'Free To Play',
  97597: 'Free',
  97603: 'Free',
  97604: 'Free',
  97613: 'Free To Play',
  97654: 'Free To Play',
  97678: 'Free',
  97680: 'Free',
  97695: 'Free To Play',
  97705: 'Free',
  97719: 'Free To Play',
  97757: 'Free',
  97765: 'Free to Play',
  97778: 'Free To Play',
  97783: 'Free',
  97795: 'Free',
  97809: 'Free',
  97847: 'Free To Play',
  97849: 'Free',
  97863: 'Free to Play',
  97868: 'Free',
  97902: 'Free To Play',
  97909: 'Free to Play',
  97974: 'Free To Play',
  97977: 'Free To Play',
  97985: 'Free',
  97987: 'Free',
  98016: 'Free',
  98017: 'Free',
  98044: 'Free',
  98061: 'Free To Play',
  98085: 'Free to Play',
  98086: 'Free',
  98104: 'Free',
  98123: 'Free',
  98129: 'Free',
  98134: 'Free To Play',
  98135: 'Free',
  98186: 'Free',
  98200: 'Free To Play',
  98214: 'Free to Play',
  98252: 'Free',
  98255: 'Free to Play',
  98261: 'Free To Play',
  98288: 'Free',
  98289: 'Free',
  98292: 'Free To Play',
  98296: 'Free',
  98315: 'Free',
  98367: 'Free to Play',
  98378: 'Free To Play',
  98404: 'Free To Play',
  98435: 'Free',
  98443: 'Free To Play',
  98479: 'Free',
  98482: 'Free to Play',
  98494: 'Free',
  98554: 'Free To Play',
  98576: 'Free To Play',
  98619: 'Free',
  98620: 'Free To Play',
  98644: 'Free',
  98652: 'Free',
  98653: 'Free',
  98667: 'Free to Play',
  98668: 'Free',
  98670: 'Free',
  98721: 'Free',
  98723: 'Free To Play',
  98726: 'Free',
  98741: 'Free To Play',
  98746: 'Free',
  98755: 'Free To Play',
  98760: 'Free To Play',
  98796: 'Free To Play',
  98805: 'Free',
  98811: 'Free',
  98813: 'Free',
  98830: 'Free',
  98835: 'Free to Play',
  98848: 'Free',
  98860: 'Free To Play',
  98865: 'Free',
  98870: 'Free To Play',
  98872: 'Free',
  98876: 'Free to Play',
  98943: 'Free to Play',
  98948: 'Free To Play',
  98953: 'Free To Play',
  98955: 'Free',
  98972: 'Free to Play',
  98977: 'Free To Play',
  98980: 'Free',
  99014: 'Free To Play',
  99022: 'Free to Play',
  99067: 'Free To Play',
  99110: 'Free',
  99111: 'Free',
  99114: 'Free To Play',
  99146: 'Free',
  99149: 'Free to Play',
  99160: 'Free to Play',
  99177: 'Free To Play',
  99181: 'Free To Play',
  99182: 'Free To Play',
  99201: 'Free to Play',
  99216: 'Free to Play',
  99219: 'Free To Play',
  99227: 'Free',
  99231: 'Free',
  99251: 'Free To Play',
  99261: 'Free',
  99275: 'Free to Play',
  99276: 'Free To Play',
  99281: 'Free To Play',
  99286: 'Free',
  99301: 'Free',
  99303: 'Free',
  99312: 'Free',
  99351: 'Free',
  99362: 'Free To Play',
  99374: 'Free to Play',
  99396: 'Free',
  99449: 'Free',
  99467: 'Free',
  99482: 'Free To Play',
  99498: 'Free to Play',
  99535: 'Free',
  99542: 'Free To Play',
  99584: 'Free',
  99586: 'Free',
  99587: 'Free',
  99591: 'Free To Play',
  99609: 'Free To Play',
  99620: 'Free To Play',
  99621: 'Free',
  99626: 'Free to Play',
  99632: 'Free to Play',
  99654: 'Free To Play',
  99664: 'Free',
  99688: 'Free To Play',
  99689: 'Free To Play',
  99692: 'Free',
  99706: 'Free',
  99718: 'Free To Play',
  99719: 'Free to Play',
  99729: 'Free to Play',
  99732: 'Free',
  99753: 'Free',
  99782: 'Free',
  99793: 'Free To Play',
  99799: 'Free To Play',
  99812: 'Free',
  99813: 'Free to Play',
  99826: 'Free To Play',
  99829: 'Free To Play',
  99840: 'Free To Play',
  99844: 'Free',
  99851: 'Free',
  99915: 'Free',
  99917: 'Free',
  99963: 'Free',
  99968: 'Free',
  99975: 'Free To Play',
  99980: 'Free To Play',
  99985: 'Free',
  99998: 'Free',
  100005: 'Free To Play',
  100011: 'Free To Play',
  100019: 'Free To Play',
  100026: 'Free',
  100043: 'Free to Play',
  100052: 'Free',
  100059: 'Free To Play',
  100061: 'Free',
  100074: 'Free To Play',
  100112: 'Free to Play',
  100113: 'Free To Play',
  100137: 'Free',
  100138: 'Free',
  100147: 'Free',
  100149: 'Free to Play',
  100191: 'Free To Play',
  100211: 'Free',
  100223: 'Free To Play',
  100226: 'Free',
  100242: 'Free',
  100257: 'Free To Play',
  100272: 'Free',
  100278: 'Free',
  100286: 'Free To Play',
  100290: 'Free',
  100293: 'Free',
  100314: 'Free',
  100315: 'Free To Play',
  100368: 'Free',
  100369: 'Free To Play',
  100371: 'Free',
  100374: 'Free',
  100382: 'Free',
  100383: 'Free to Play',
  100404: 'Free',
  100419: 'Free To Play',
  100456: 'Free',
  100469: 'Free',
  100486: 'Free To Play',
  100487: 'Free',
  100489: 'Free',
  100491: 'Free to Play',
  100493: 'Free To Play',
  100504: 'Free To Play',
  100512: 'Free',
  100519: 'Free to Play',
  100550: 'Free',
  100551: 'Free',
  100560: 'Free',
  100562: 'Free To Play',
  100614: 'Free',
  100616: 'Free To Play',
  100617: 'Free To Play',
  100618: 'Free To Play',
  100619: 'Free To Play',
  100633: 'Free',
  100634: 'Free',
  100652: 'Free',
  100654: 'Free',
  100655: 'Free',
  100659: 'Free',
  100664: 'Free To Play',
  100670: 'Free',
  100672: 'Free',
  100684: 'Free',
  100694: 'Free To Play',
  100697: 'Free',
  100714: 'Free To Play',
  100720: 'Free',
  100730: 'Free',
  100731: 'Free',
  100746: 'Free',
  100753: 'Free To Play',
  100759: 'Free',
  100787: 'Free',
  100825: 'Free',
  100842: 'Free',
  100855: 'Free',
  100857: 'Free',
  100877: 'Free To Play',
  100878: 'Free',
  100890: 'Free To Play',
  100894: 'Free',
  100906: 'Free to Play',
  100910: 'Free',
  100913: 'Free to Play',
  100956: 'Free To Play',
  100981: 'Free',
  101028: 'Free',
  101044: 'Free',
  101048: 'Free To Play',
  101049: 'Free To Play',
  101050: 'Free to Play',
  101082: 'Free To Play',
  101139: 'Free To Play',
  101161: 'Free',
  101174: 'Free',
  101178: 'Free To Play',
  101194: 'Free',
  101209: 'Free',
  101216: 'Free',
  101225: 'Free',
  101232: 'Free To Play',
  101245: 'Free',
  101273: 'Free',
  101287: 'Free To Play',
  101297: 'Free',
  101300: 'Free',
  101312: 'Free to Play',
  101333: 'Free',
  101343: 'Free To Play',
  101355: 'Free',
  101359: 'Free To Play',
  101372: 'Free',
  101406: 'Free',
  101427: 'Free',
  101464: 'Free',
  101468: 'Free',
  101475: 'Free To Play',
  101487: 'Free',
  101496: 'Free',
  101505: 'Free',
  101514: 'Free',
  101530: 'Free To Play',
  101532: 'Free',
  101549: 'Free To Play',
  101592: 'Free to Play',
  101597: 'Free',
  101598: 'Free To Play',
  101600: 'Free To Play',
  101604: 'Free To Play',
  101613: 'Free',
  101642: 'Free To Play',
  101661: 'Free To Play',
  101714: 'Free',
  101731: 'Free',
  101733: 'Free To Play',
  101757: 'Free To Play',
  101761: 'Free',
  101766: 'Free',
  101775: 'Free To Play',
  101779: 'Free',
  101794: 'Free',
  101821: 'Free',
  101835: 'Free',
  101846: 'Free to Play',
  101864: 'Free',
  101871: 'Free',
  101875: 'Free',
  101933: 'Free',
  101943: 'Free To Play',
  101947: 'Free',
  101959: 'Free',
  101964: 'Free',
  101970: 'Free to Play',
  101990: 'Free To Play',
  102016: 'Free',
  102024: 'Free To Play',
  102058: 'Free',
  102064: 'Free To Play',
  102067: 'Free To Play',
  102085: 'Free To Play',
  102090: 'Free To Play',
  102098: 'Free To Play',
  102112: 'Free',
  102116: 'Free',
  102119: 'Free',
  102153: 'Free',
  102167: 'Free',
  102181: 'Free To Play',
  102184: 'Free',
  102192: 'Free',
  102200: 'Free To Play',
  102236: 'Free',
  102257: 'Free Mod',
  102269: 'Free',
  102289: 'Free',
  102314: 'Free To Play',
  102321: 'Free',
  102331: 'Free to Play',
  102341: 'Free To Play',
  102351: 'Free To Play',
  102356: 'Free to Play',
  102358: 'Free to Play',
  102361: 'Free To Play',
  102369: 'Free To Play',
  102372: 'Free',
  102376: 'Free',
  102382: 'Free',
  102394: 'Free to Play',
  102411: 'Free',
  102440: 'Free',
  102449: 'Free',
  102450: 'Free',
  102455: 'Free To Play',
  102457: 'Free To Play',
  102459: 'Free',
  102464: 'Free To Play',
  102466: 'Free to Play',
  102500: 'Free',
  102523: 'Free To Play',
  102538: 'Free To Play',
  102541: 'Free To Play',
  102551: 'Free',
  102586: 'Free',
  102591: 'Free To Play',
  102603: 'Free to Play',
  102612: 'Free To Play',
  102615: 'Free',
  102617: 'Free',
  102629: 'Free To Play',
  102631: 'Free To Play',
  102651: 'Free',
  102656: 'Free to Play',
  102666: 'Free',
  102701: 'Free',
  102707: 'Free',
  102730: 'Free to Play',
  102740: 'Free To Play',
  102741: 'Free',
  102747: 'Free',
  102751: 'Free',
  102759: 'Free To Play',
  102761: 'Free',
  102771: 'Free',
  102781: 'Free',
  102807: 'Free To Play',
  102811: 'Free To Play',
  102817: 'Free To Play',
  102824: 'Free',
  102831: 'Free',
  102838: 'Free To Play',
  102845: 'Free',
  102851: 'Free',
  102854: 'Free',
  102859: 'Free To Play',
  102869: 'Free To Play',
  102872: 'Free',
  102873: 'Free',
  102879: 'Free To Play',
  102915: 'Free',
  102932: 'Free',
  102935: 'Free To Play',
  102950: 'Free to Play',
  102985: 'Free',
  102987: 'Free',
  102988: 'Free To Play',
  102995: 'Free',
  102997: 'Free',
  103007: 'Free To Play',
  103013: 'Free to Play',
  103031: 'Free',
  103053: 'Free',
  103092: 'Free To Play',
  103112: 'Free',
  103123: 'Free',
  103125: 'Free',
  103128: 'Free To Play',
  103133: 'Free',
  103147: 'Free to Play',
  103151: 'Free to Play',
  103165: 'Free to Play',
  103166: 'Free To Play',
  103174: 'Free To Play',
  103175: 'Free',
  103210: 'Free',
  103225: 'Free To Play',
  103232: 'Free To Play',
  103233: 'Free To Play',
  103238: 'Free',
  103244: 'Free To Play',
  103251: 'Free To Play',

Manually converting the rest of the free game values

In [58]:
# Calling the function "convert_special_strings" to convert a string into numeric type value
# Special strings and their corresponding numeric value
special_strings = ["free to play", "free", "free mod", "free demo", "Play for Free!", "Install Now", "Play WARMACHINE: Tactics Demo", "Install Theme", "Third-party", "Play Now", "Free HITMANâ„¢ Holiday Pack", "Play the Demo", "Play Now", "Free to Try", "Free Movie", "Free to Use"]
converted_value = 0

In [59]:
# Convert special strings in the "price" column of the DataFrame
price_summary = data_preparation_utils.convert_special_strings(df_games_data_3, "price", special_strings, converted_value)
price_summary

{'total_rows': 32134,
 'column_name': 'price',
 'num_failed_conversions': 2,
 'report': {113310: 'Starting at $499.00', 113311: 'Starting at $449.00'}}

Manually converting non free game values

In [60]:
# Calling the function "convert_special_strings" to convert a string into numeric type value
# Special strings and their corresponding numeric value
special_strings = ["Starting at $499.00"]
converted_value = 499

In [61]:
# Convert special strings in the "price" column of the DataFrame
price_summary = data_preparation_utils.convert_special_strings(df_games_data_3, "price", special_strings, converted_value)
price_summary

{'total_rows': 32134,
 'column_name': 'price',
 'num_failed_conversions': 1,
 'report': {113311: 'Starting at $449.00'}}

In [62]:
# Calling the function "convert_special_strings" to convert a string into numeric type value
# Special strings and their corresponding numeric value
special_strings = ["Starting at $449.00"]
converted_value = 499

In [63]:
# Convert special strings in the "price" column of the DataFrame
price_summary = data_preparation_utils.convert_special_strings(df_games_data_3, "price", special_strings, converted_value)
price_summary

{'total_rows': 32134,
 'column_name': 'price',
 'num_failed_conversions': 0,
 'report': {}}

In [64]:
df_games_data_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32134 entries, 88310 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24082 non-null  object
 1   genres        28851 non-null  object
 2   app_name      32132 non-null  object
 3   title         30084 non-null  object
 4   url           32134 non-null  object
 5   release_date  30067 non-null  object
 6   tags          31971 non-null  object
 7   reviews_url   32132 non-null  object
 8   specs         31464 non-null  object
 9   price         30757 non-null  float64
 10  early_access  32134 non-null  object
 11  id            32132 non-null  float64
 12  developer     28835 non-null  object
dtypes: float64(2), object(11)
memory usage: 3.4+ MB

### Creating file

A csv file is created to be used in EDA

In [65]:
df_games_data_3.columns

Index(['publisher', 'genres', 'app_name', 'title', 'url', 'release_date',
       'tags', 'reviews_url', 'specs', 'price', 'early_access', 'id',
       'developer'],
      dtype='object')

In [66]:
# Saving the dataframe to a csv format file
# The file will be stored in eda inside a the datasets folder 
df_games_data_3.to_csv('../eda/datasets/steam_games.csv', index=False)